/* Color Palette
Teal #A7FAF1
Dark Green #24615B
Light Green #99C7A8
 */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  color: #24615B;
  text-align: center;
}

h4 {
  font-weight: bold;
}

.panel-title {
  font-size: x-large;
  text-align: center;
  color:white;
}

.panel > .panel-heading {
  background-color: #99C7A8;
}

.subheader {
  text-align: center;
}

.subtitle {
  font-weight: normal;
  font-style: italic;
}

.caption {
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.picture {
  width: 90%;
  border: 3px solid #24615B;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile {
  width: 100%;
}

.picture.small {
  width: 50%;
  border: 2px solid #24615B;
  padding: 1%;
  margin: 5%;
  float: right;
}

.video {
  border: 3px solid #24615B;
  padding: 2%;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.emphasis {
  color: #24615B;
  font-weight: bolder;
}