/* Color Palette
Dark Green #24615B
Light Green #99C7A8
 */

/* TEXT */

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin-top: 1%;
  margin-bottom: 1%;
  background-color: #DEEDE3;
}



h1 {
  color: #24615B;
  text-align: center;
}

h4 {
  font-weight: bold;
  font-size: large;
  color: #24615B;
}

p {
  text-align: justify;
}

a {
  color: #99C7A8;
}

ul {
  padding-left: 25px;
}

.panel-title {
  font-size: x-large;
  text-align: center;
  font-weight: normal;
  color:white;
}

.panel > .panel-heading {
  background-color: #99C7A8;
}

.subheader {
  text-align: center;
  font-style: italic;
  color: #24615B;
}

.subtitle {
  font-weight: normal;
  font-style: italic;
}

.caption {
  text-align: center;
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 1.6em;
}

.emphasis {
  color: #24615B;
  font-weight: bolder;
}

/* MEDIA */

.picture {
  width: 90%;
  border: 3px solid #24615B;
  padding: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 2%;
}

.profile {
  width: 100%;
}

.loop {
  padding: 2%;
  width: 50%;
  border: 3px solid #24615B;
}

.small{
  width: 50%;
  margin-left: 0%;
  margin-right: 4%;
  margin-top: 2%;
  margin-bottom: 2%;
  float: left;
}

.picture.small {
  float: right;
  margin-left: 4%;
  margin-right: 0%;
}

.vertical {
  width: 70%;
}

.video {
  border: 3px solid #24615B;
  padding: 2%;
  margin: 2%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.panel-default {
  border-color: #99C7A8;
}

.well {
  border-color: #99C7A8;
}